$medium-grey: #353232;
$dark-grey: #282626;
$medium-light-grey: #484444;
$light-grey: #6d6868;
$background-color: #191414;
$main-green: #1db954;
$secondary-green: #1de463;
$pink: #af4ca2;
$yellow: #cdbc59;
$white: #fff;

@font-face {
    font-family: 'Nunito-Bold';
    src: url('/assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('/assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
  
body {
    background-color: $background-color;
    color: $white; 
    font-family: 'Nunito-Light', sans-serif; 
}

h1 {
  font-family: 'Nunito-Bold', sans-serif;
  cursor: default;
}

h2 {
  cursor: default;
}

p {
  cursor: default;
}

li {
  cursor: default;
}

ul {
  list-style: none;
}

span {
  font-family: 'Nunito-Bold', sans-serif;
}

button {
  background-color: $main-green; 
  color: $background-color; 
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Nunito-Bold', sans-serif; 
  font-size: 0.9rem;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: $secondary-green;
}

.inner-container {
  text-align: center;
}

.dot {
  margin: 0 5px;
}