<app-navbar></app-navbar>

<!-- Wrapper for the search inputs and button -->
<div class="search-container">
  <input class="search-input" [(ngModel)]="team1" placeholder="Enter team 1 name" />
  <input class="search-input" [(ngModel)]="team2" placeholder="Enter team 2 name" />
  <button class="search-button" (click)="searchTeams()">Search</button>
</div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<div *ngIf="loading" class="loading">Loading...</div>

<!-- Wrapper for the team information -->
<div class="teams-container">
  <div class="team-info" *ngIf="team1Info && team1Info.squad.length > 0">
    <h2>{{ team1 }}</h2>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Position</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of team1Info.squad">
          <td>{{ player.player_number }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.age }}</td>
          <td>{{ player.country }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="team1Info.transfers.length > 0">
      <h3>Transfers</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Fee</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transfer of team1Info.transfers">
            <td>{{ transfer.name }}</td>
            <td>{{ transfer.team }}</td>
            <td>{{ transfer.fee }}</td>
            <td>{{ transfer.type }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="team-info" *ngIf="team2Info && team2Info.squad.length > 0">
    <h2>{{ team2 }}</h2>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Position</th>
          <th>Age</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of team2Info.squad">
          <td>{{ player.player_number }}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.position }}</td>
          <td>{{ player.age }}</td>
          <td>{{ player.country }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="team2Info.transfers.length > 0">
      <h3>Transfers</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Fee</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transfer of team2Info.transfers">
            <td>{{ transfer.name }}</td>
            <td>{{ transfer.team }}</td>
            <td>{{ transfer.fee }}</td>
            <td>{{ transfer.type }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
